@using FinalMelkBin.Models
@{
    TheFinalMelkobinEntities Context = new TheFinalMelkobinEntities();
    var Cities = Context.cities.Select(p => new { Name = p.cityName, ID = p.id }).ToList();
}
@{
    ViewBag.Title = "AddSubCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section viewscript{

    <script src="~/Scripts/SubCity/LoadTheSubCity.js"></script>

    <script src="~/Scripts/SubCity/SubCityManager.js"></script>
    <script src="~/Scripts/SubCity/TableSubCity.js"></script>
    <script src="~/Scripts/Common.Validation.js"></script>
}




<button type="button" id="errorCityRepat" class="btn btn-danger" data-toggle="modal" data-target="#modal-dangerCity" style="visibility:hidden"></button>


<div class="modal modal-danger fade" id="modal-dangerCity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">خطا در ثبت شهرستان</h4>
            </div>
            <div class="modal-body" style="font-size:medium">
                <p>ثبت انجام نشد!نام شهرستان تکراری است</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">بستن</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





<button type="button" id="sucessModal" class="btn btn-success" data-toggle="modal" data-target="#modal-success" style="visibility:hidden">
    مدال Success
</button>
<div class="modal modal-success " id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> موفقیت آمیز</h4>
            </div>
            <div class="modal-body">
                <p>اطلاعات شهرستان با موفقیت حذف گردید</p>
            </div>
            <div class="modal-footer">


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>







<button type="button" id="errorRemove" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger" style="visibility:hidden">
    مدال Danger
</button>
<div class="modal modal-danger fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">خطا در حذف شهرستان </h4>
            </div>
            <div class="modal-body">
                <p>به دلیل اینکه اطلاعات این شهرستان توسط مشتریان در آگهی ها استفاده شده است، امکان حذف آن وجود ندارد!</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="CloseErrorModal" class="btn btn-outline pull-left" data-dismiss="modal">بستن</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<div style="background-color:#1c1616">

    <img src="~/Pictures/12759-200.png" style="width:100px;height:100%;background-color:white" />
    <ol class="breadcrumb breadcrumb-2" style="background-color:#1c1616">
        <li><a href="~/Home/Index" style="color:white"><i class="glyphicon glyphicon-home" style="color:white"></i>خانه</a></li>
        <li class="active" style="color:white"><strong>مدیریت شهرستان ها</strong></li>
    </ol>

</div>
@*<div id="ProductRegister">

    </div>*@


<div class="row" id="divSubCity">

    <div class="col-lg-12 animatedParent animateOnce z-index-50" style="width:100%;">
        <div class="panel panel-default animated fadeInUp" style="border-width:5px;border-color:#2f2a2a;border-style:solid;">

            <div class="panel-body box box-default color-palette-box " style=" background-color:#2f2a2a;">
                @if (User.IsInRole("AddSubCity") || User.IsInRole("SuperAdmin"))
                {

                    <button id="btnSubcityRegister" type="button"  class="btn margin btn-block" data-toggle="modal" data-target="#TownShipModal" style="margin:auto;background-color:white"><i class="fa fa-save " style="font-size:large">ثبت جدید</i></button>
                }
                <div class="row" style="height:80px;background-color:#2f2a2a;width:100%;margin-top:5px">
                    <div class="col-sm-3">
                        <label style="margin-right:30px;color:white;"> نمایش رکورد از:</label><select name="state" class="form-control" id="maxRows" style="width:150px;margin-right:30px;color:brown">
                            <option value="10">10</option>
                            <option value="5">5</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="50000">همه</option>
                        </select>


                    </div>

                    <div style="margin-top:25px">
                        <button id="buttonSearch" type="submit" onclick="SearchCity();" class="btn  btn-success btn-flat" style="margin-right:10px;"><span class="glyphicon glyphicon-search"></span> جستجو</button>
                        <input type="text" class="w3-input" style="width:20%;margin-right:10px;height:30px" id="Description" placeholder="استان یا شهرستان.." name="search">
                    </div>
                </div>
            </div>

            <div id="divTownShip" class="table-responsive" style="height:500px;">

            </div>
            <div class="pagination-container" style="margin-right:10px;cursor:pointer">
                <nav>
                    <ul class="pagination"></ul>
                </nav>


            </div>

        </div>
    </div>
    @*<div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate"><a class="paginate_button previous disabled" aria-controls="data-table" data-dt-idx="0" tabindex="0" id="data-table_previous">Previous</a><span><a class="paginate_button current" aria-controls="data-table" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="data-table" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="data-table" data-dt-idx="3" tabindex="0" id="data-table_next">Next</a></div>*@
</div>

















@*<div id="divSubCity">
    <div class="panel panel-default animated fadeInUp" style="border-width:5px;border-color:#2f2a2a;border-style:solid;">
        <div class="col-lg-12 animatedParent animateOnce z-index-50" style="width:100%;">

            <div class="panel-body box box-default color-palette-box " style=" background-color:#2f2a2a;">
                @if (User.IsInRole("AddSubCity") || User.IsInRole("SuperAdmin"))
                {

                    <button id="btnRegister" type="button" onclick="ProductRegisterform.reset()" class="btn margin btn-block" data-toggle="modal" data-target="#TownShipModal" style="margin:auto;background-color:white"><i class="fa fa-save " style="font-size:large">ثبت جدید</i></button>
                }
                <div class="row" style="height:80px;background-color:#2f2a2a;width:100%;margin-top:5px">
                    <div class="col-sm-3">
                        <label style="margin-right:10px;color:white;"> نمایش رکورد از:</label><select name="state" class="form-control" id="maxRows" style="width:150px;margin-right:10px;color:brown">
                            <option id="selectFirst" value="10">10</option>
                            <option value="5">5</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="50000">همه</option>
                        </select>
                    </div>

                    <div style="margin-top:30px">

                        <button type="submit" onclick="SearchCity();" class="btn  btn-success btn-flat" style="margin-right:10px;"><span class="glyphicon glyphicon-search"></span> جستجو</button>
                        <input type="text" class="w3-input" style="width:20%;margin-right:10px;height:30px" id="Description" placeholder="استان یا شهرستان.." name="search">

                    </div>
                    <div id="divTownShip" class="table-responsive" style="height:500px;">

                    </div>

                </div>
            </div>
        </div>

        <div class="pagination-container" style="margin-right:10px;cursor:pointer">
            <nav>
                <ul class="pagination"></ul>
            </nav>


        </div>

    </div>


</div>*@
<div style="display:none;margin-top:5px;" id="TownCitySucces" class="alert alert-success">
    <strong>Success!</strong> مشخصات شهر با موفقیت ثبت گردید!
    <i class="icon-check"></i>
</div>

<div class="modal fade" id="TownShipModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen">

                <h4 class="modal-title" style="color:white">ثبت شهرستان </h4>

            </div>
            <form id="FormRegisterSubCity">
                @if (User.IsInRole("AddSubCity") || User.IsInRole("SuperAdmin"))
                {
                    <div class="modal-body">
                        <label for="exampleFormControlInput1">  استان ها:</label>
                        <br />

                        <select class="form-control" style="width:90%" id="TheCityID" name="TheCityID">
                            @foreach (var item in Cities)
                            {

                                <option id="TheCityID" value=@item.ID> @item.Name</option>;

                            }
                        </select>

                        <input type="hidden" id="ID" />
                        <label>عنوان:</label>
                        <input accept="text" type="text" data-remote="CheckSubCity" data-display="شهرستان" name="TownShip" id="TownShip" class="form-control" placeholder="نام شهرستان را  وارد کنید" />

                        <div style="display:none;margin-top:5px;" id="TownShipempty" class="alert alert-danger">
                            <strong>خطا!</strong>  نام شهرستان خالی یا تکراری وارد شده
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" onclick="TownShipRegister()" class="btn btn-primary">ثبت</button>

                        <button type="button" id="CloseModal" onclick="resetmodal()" class="btn btn-danger" data-dismiss="modal">بستن</button>
                    </div>
                }
                @if (!(User.IsInRole("AddSubCity") || User.IsInRole("SuperAdmin")))
                {

                    <div class="modal-body danger bg-danger">
                        <p class="text-danger">کاربرگرامی شما به این قسمت دسترسی ندارید!</p>
                    </div>
                }
                <div class="text-center">

                    <label class=" text-danger" id="ValidTownShip"></label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="RemoveModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="ResetRemovemodalsubcity()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger danger">حذف شهرستان</h4>
            </div>
            @if (User.IsInRole("RemoveSubCity") || User.IsInRole("SuperAdmin"))
            {
                <div class="modal-body">
                    <p>آیا مطمعن به ادامه عملیات هستید؟</p>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="OkButtun" data-dismiss="modal">تایید</button>
                    <button type="button" onclick="ResetRemovemodalsubcity()" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                </div>
            }
            @if (!(User.IsInRole("RemoveSubCity") || User.IsInRole("SuperAdmin")))
            {

                <div class="modal-body danger bg-danger">
                    <p class="text-danger">کاربرگرامی شما به این قسمت دسترسی ندارید!</p>
                </div>
            }
        </div>
    </div>
</div>

<script>
    window.onload = Load;
    function Load() {
        SetValidation(FormRegisterSubCity);
        //$('#maxRows option').prop('selected', function () {
        //    return this.defaultSelected;
        //});
        LoadTheTownShip();
        var table = '#tableSubCity';
        $('#maxRows').on('click', function () {
            $('.pagination').html('')
            var trnum = 0
            var maxRows = parseInt($(this).val())
            var totalRows = $(table + ' tbody tr').length
            $(table + ' tr:gt(0)').each(function () {
                trnum++
                if (trnum > maxRows) {
                    $(this).hide()
                }
                if (trnum <= maxRows) {
                    $(this).show()
                }
            })
            if (totalRows > maxRows) {
                var pagenum = Math.ceil(totalRows / maxRows)
                for (var i = 1; i <= pagenum;) {
                    $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()


                }
            }
            $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click', function () {
                var pageNum = $(this).attr('data-page')
                var trIndex = 0;
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide()
                    } else {
                        $(this).show()
                    }
                })
            })
        })

        $(function () {
            $('table tr:eq(0)').prepend('<th>ID</th>')

            var id = 0;
            $('table tr:gt(0)').each(function () {
                id++
                $(this).prepend('<td>' + id + '</td>')

            })

        })
        $('#divSubCity').mouseenter(function () {

            $('#maxRows').val($('#maxRows option:selected').val()).click();
        });


  
    }
    function resetmodal() {
        $('#TownShipModal').on('hidden.bs.modal', function (e) {
            $(this).find("input").val('').end()


        });
    }

</script>

